* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: rgba(229, 84, 115, 0.10);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-title {
    color: #272727;
    font-size: 45px;
    font-weight: 800;
    width: 708px;
    margin-bottom: 30px;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    width: 634px;
    margin-bottom: 30px
}

.btn-primary {
    padding: 10px 10px;
    border-radius: 5px;
    background: #E55473;
    border: 0;
    color: #FFF;
    font-size: 17px;
}

.header-img {
    width: 560px;
}

/* feature section */

.featured-title {
    color: #272727;
    text-align: center;
    font-size: 30px;
    margin-top: 100px;
}

.featured-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 15px;
    /* text-decoration: underline; */
}

.featured-image {
    display: flex;
    margin: 50px 100px;
    justify-content: space-evenly;
}

.feature-img {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 310px;
    height: 428px;
}

.feature-bg {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    width: 920px;
    height: 100px;
    margin: 100px auto;
    padding: 100px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.feature-icon {
    width: 88px;
    height: 88px;
    align-items: center;
}

.featured-description-title {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 17px;
}

/* sales up */

.hot-deal {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    width: 1518px;
    height: 520px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-around;
}

.span-color {
    color: red;
}

.sales-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 30px;
    width: 537px;
    height: 48px;
}

.sales-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
    height: 60px;
    width: 594px;
}

.sales-img {
    width: 318px;
    height: 420px;
}

.btn-primary-sales {
    border-radius: 8px;
    background: #E55473;
    padding: 15px 25px;
    color: #FFF;
    border: 0;
    font-size: 17px;
    align-items: center;
    text-align: center;
}

/* Instagram section */
.Instagram-section {
    width: 1518px;
    height: 150px;
}

.Instagram-icon {
    width: 242px;
    height: 246px;
    margin-bottom: 50px;
}

.Instagram-icon-section {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-left: 230px;
}

/* Get The Latest Deals */

.get-deal {
    background-image: url("../Rectangle/Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
    border-radius: 8px;
    width: 1060px;
    height: 300px;
    margin: 0 auto;
    /* display: flex; */
}

.deal-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 40px;
}

.deal-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 30px;
}

.field {
    border-radius: 5px;
    background: #FFF;
    width: 500px;
    height: 40px;
    border: 0px;
    margin-left: 230px;
}